.head{
    display: flex;
    max-width: 100%;
    margin-top: 15px;
    margin-left: 31px;
}
.uniform{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;

color: #5950C8;
}
.navigation{
    display: flex;
    margin-top: 20px;
    padding-left: 1050px;
  
}
.sign{
    display: flex;
    padding: 0 15px;
}
.cart{
    
    display: flex;
}
/* .user{
    font-family: Montserrat;

font-weight: 600;
} */
.login{
    margin-top: -15px;
    padding-left: 8px;
    padding-right: 25px;
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #323232;
}
.add{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #323232;
padding-left: 8px;
}
.product{
    width: 85%;
    margin-left: 35px;
    display: grid;
    grid-template-rows: 30px 1000px 500px ;
    grid-gap: 20px;
    grid-template-columns: 125px 285px 1000px;
}

.back{
    
    
    grid-column: 1/-1;

}
.description{
    /* background-color: green; */
    display: grid;
    grid-template-rows: 50px 75px 100px 100px 500px;
    padding-left: 50px;



}
.result{
    padding-left: 45px;
    
    color: #898686;
    font-family: Montserrat;
    font-size: 12px;

}
.lady{
    padding-top: 25px;
    width: 245px;
height: 354px;
}
.image11{
    margin: 32px;
}
.image12{
    opacity: 0.9;
    margin: 27px;
   
}


.kv{
    font-family: Montserrat;
font-weight: 500;
font-size: 20px;
line-height: 29px;
display: flex;
padding-left: 35px;
float: left;
}
.social{
    float: right;
    
    
}
.network{
    display: inline;
    list-style: none;
    justify-content: space-around;
    display: inline-flex;
    margin-left: 35px;
   
}
.network li{
    padding-left: 20px;
}
.amounnt{
    font-family: Montserrat;
    




}
/* .price{
    padding-left: 55px;
    font-family: "Montserrat";
    font-weight: 500;
font-size: 18px;
display: inline-block;


} */
/* .fabric{
    padding-left: 15px;
    font-family: "Montserrat";
}
.yoo{
    font-family: "Montserrat";
    padding-left: 15px;
    color: #5950C8;
   border-bottom: 1px solid#5950C8 ;
   width: 245px;
   
   
}
.crossed{
    text-decoration-line: line-through;
    padding-top: 18px;
    padding-left: 20px;
   
    color: #928888;
    font-family: "Montserrat";
    
    
}
.price{
    margin-left: 55px;
    
    display: flex;
   
}
.rupee{
   padding-left: -15px;
    font-size: 18px;
    font-family: "Montserrat";
}
.review{
    /* padding-left: 40px; */
    /* color: #5950C8;
} */
/* .size{
    display: grid;
    grid-column: 05px 95px 145px;
} */
.drop{
    padding-left: 39px;
    
   
}
.search-input{
    /* border: 1px solid#5950C8;
    border-radius: 8px;
    width: 85px; */
    width :145px;
    border: 1px solid #DDDDDD;
box-sizing: border-box;
border-radius: 35px;
padding: 10px;
margin: -10px;
}
.sizechart{
    color: #5950C8;
    font-size: 8px;
}
.area{
    padding-top: 100px;
}
.gender{

}
.size{
    display: flex;
    padding-top: 45px;
    margin-left: 15px;
}
.length{
    padding-left: 15px;
    display: flex;
    
}

.list{
    display: flex;
    flex-direction: row;
}
.inch{
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    padding: 15px;
}
.mm{
    padding: 0 8px;
}
#highlight{
    background-color:#5950C8 ;
    color: white;
}
#last{
    color:  #DDDDDD;
}
.money{
        display: flex;
        margin: 25px;
        padding-top: 10px;
}
.rupees{
    font-size: 20px;
    font-family: Montserrat;
}
.text{
    padding-left: 21px;
}
.offer{
        margin: 0 25px;
        text-decoration-line: line-through;
        color: #928888;;

}
.star{
    padding-top: 15px;
    padding-left: 15px;
    margin: 0 25px;
}
.total{
    color: #5950C8;
    margin-left: -5px;
}
.chart{
    margin: 0 45px;
}
.cm{
    color: #5950C8;
    font-size: 12px;
}
.buy{
    display: flex;
    padding-left: 44px;
    margin-top: 15px;
}
.now{
    height: 50px;
    width: 105px;
    border-radius: 45px;
    background-color:#5950C8 ;
    padding-left: 12px;
    font-family: Montserrat;
}
#now{
        padding-left:12px ;
        color: white;
}
.add{
    padding-left: 40px;
    font-family: Montserrat;
}
.fabric li{
    margin: 20px;
}
.dot{
    background-color: black;
    height: 1px;
    width: 1px;
}
.symbol{
    padding-left: 75px;
}
.list1{
    display: flex;
    padding-left: 15px;
}
.acadmeyName{
            padding-left: 15px;
}
.list2{
    display: flex;
    padding-left: 15px;
}
.list3{
    display: flex;
    padding-left: 15px;
}
.list4{
    display: flex;
    padding-left: 15px;
}
.list5{
    display: flex;
    padding-left: 15px;
}
.list6{
    display: flex;
    padding-left: 15px;
}
.india{
    padding-left: 20px;
}
.symbol5{
    padding-left: 64px;
}
.symbol4{
    margin-left: 94px;
}
.symbol3{
    margin-left: 136px;
}
.symbol2{
    margin-left: 142px;
}
.symbol1{
    margin-left: 142px;
}
.information{
    padding-left: 30px;
}
.headline{
    display: flex;
}
.main2{
    padding: 0 100px;
    font-family: Montserrat;
    color: #898686;
}.main3{
    padding-left: 20px;
    font-family: Montserrat;
    color: #898686;
}
.main1{
    width: 250px;
    border-bottom: 2px solid #5950C8;
}
.yoo{
    font-family: Montserrat;
    padding-left: 25px;
    color: #5950C8;
}